--
-- PostgreSQL database dump
--

\restrict jQeAhXQSEv54OHr4bJsVAFiNPGocGHhgvcGgfgRyjo7uZUaK30aLjdINRtTSamH

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.accounts (
    id integer NOT NULL,
    game_id integer NOT NULL,
    user_id integer,
    account_type character varying(30) NOT NULL,
    account_name character varying(100) NOT NULL,
    balance_available bigint DEFAULT '0'::bigint NOT NULL,
    balance_reserved bigint DEFAULT '0'::bigint NOT NULL,
    lost_turns integer DEFAULT 0 NOT NULL,
    has_insurance_e11 boolean DEFAULT false NOT NULL,
    is_closed boolean DEFAULT false NOT NULL,
    turn_opportunities_count integer DEFAULT 0 NOT NULL,
    metadata_json json,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.accounts OWNER TO audacity_user;

--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_id_seq OWNER TO audacity_user;

--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO audacity_user;

--
-- Name: card_instances; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.card_instances (
    id integer NOT NULL,
    game_id integer NOT NULL,
    card_code character varying(10) NOT NULL,
    status character varying(20) DEFAULT 'disponible'::character varying NOT NULL,
    assigned_to_account_id integer,
    assigned_at timestamp without time zone,
    resolved_at timestamp without time zone,
    execution_result json
);


ALTER TABLE public.card_instances OWNER TO audacity_user;

--
-- Name: card_instances_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.card_instances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.card_instances_id_seq OWNER TO audacity_user;

--
-- Name: card_instances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.card_instances_id_seq OWNED BY public.card_instances.id;


--
-- Name: cards; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.cards (
    code character varying(10) NOT NULL,
    deck_type character varying(5) NOT NULL,
    title character varying(100) NOT NULL,
    text text NOT NULL,
    teacher_answer text,
    source character varying(200),
    engine_rule character varying(100),
    target_description character varying(200),
    image_path character varying(200) NOT NULL
);


ALTER TABLE public.cards OWNER TO audacity_user;

--
-- Name: contracts; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.contracts (
    id integer NOT NULL,
    game_id integer NOT NULL,
    contract_type character varying(50) NOT NULL,
    description character varying(255) NOT NULL,
    creditor_account_id integer,
    debtor_account_id integer NOT NULL,
    principal_amount bigint DEFAULT '0'::bigint NOT NULL,
    fixed_repayment_amount bigint,
    total_repaid bigint DEFAULT '0'::bigint NOT NULL,
    created_at_opportunity integer NOT NULL,
    total_installments integer DEFAULT 1 NOT NULL,
    installments_completed integer DEFAULT 0 NOT NULL,
    status character varying(30) DEFAULT 'activo'::character varying NOT NULL,
    metadata_json json,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.contracts OWNER TO audacity_user;

--
-- Name: contracts_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.contracts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contracts_id_seq OWNER TO audacity_user;

--
-- Name: contracts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.contracts_id_seq OWNED BY public.contracts.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.games (
    id integer NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    profile character varying(20) DEFAULT 'genially'::character varying NOT NULL,
    status character varying(20) DEFAULT 'configuracion'::character varying NOT NULL,
    initial_team_balance bigint DEFAULT '1000000'::bigint NOT NULL,
    initial_bank_balance bigint DEFAULT '10000000'::bigint NOT NULL,
    current_turn_number integer DEFAULT 1 NOT NULL,
    current_team_order_index integer DEFAULT 0 NOT NULL,
    turn_order json,
    rules_config json,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    closed_at timestamp without time zone
);


ALTER TABLE public.games OWNER TO audacity_user;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.games_id_seq OWNER TO audacity_user;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: ledger_entries; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.ledger_entries (
    id integer NOT NULL,
    transaction_id character varying(50) NOT NULL,
    game_id integer NOT NULL,
    source_account_id integer,
    destination_account_id integer,
    amount bigint NOT NULL,
    operation_type character varying(50) NOT NULL,
    reason character varying(255) NOT NULL,
    rule_version character varying(50) DEFAULT '1.0'::character varying NOT NULL,
    idempotency_key character varying(100),
    source_available_before bigint,
    source_available_after bigint,
    source_reserved_before bigint,
    source_reserved_after bigint,
    dest_available_before bigint,
    dest_available_after bigint,
    dest_reserved_before bigint,
    dest_reserved_after bigint,
    actor_id integer,
    approver_id integer,
    is_reverted boolean DEFAULT false NOT NULL,
    reverted_by_id integer,
    reverts_entry_id integer,
    state_snapshot json,
    created_at timestamp without time zone
);


ALTER TABLE public.ledger_entries OWNER TO audacity_user;

--
-- Name: ledger_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.ledger_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ledger_entries_id_seq OWNER TO audacity_user;

--
-- Name: ledger_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.ledger_entries_id_seq OWNED BY public.ledger_entries.id;


--
-- Name: scheduled_events; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.scheduled_events (
    id integer NOT NULL,
    contract_id integer,
    game_id integer NOT NULL,
    target_account_id integer NOT NULL,
    due_opportunity_number integer NOT NULL,
    priority_step integer NOT NULL,
    installment_number integer DEFAULT 1 NOT NULL,
    event_type character varying(50) NOT NULL,
    status character varying(30) DEFAULT 'pendiente'::character varying NOT NULL,
    amount_expected bigint,
    amount_executed bigint DEFAULT '0'::bigint NOT NULL,
    metadata_json json,
    executed_at timestamp without time zone,
    created_at timestamp without time zone
);


ALTER TABLE public.scheduled_events OWNER TO audacity_user;

--
-- Name: scheduled_events_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.scheduled_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scheduled_events_id_seq OWNER TO audacity_user;

--
-- Name: scheduled_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.scheduled_events_id_seq OWNED BY public.scheduled_events.id;


--
-- Name: turn_records; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.turn_records (
    id integer NOT NULL,
    game_id integer NOT NULL,
    team_account_id integer NOT NULL,
    turn_number integer NOT NULL,
    opportunity_number integer NOT NULL,
    dice_roll integer,
    square_number integer,
    square_name character varying(100),
    card_code character varying(10),
    was_turn_lost integer DEFAULT 0 NOT NULL,
    action_summary text NOT NULL,
    details_json json,
    created_at timestamp without time zone
);


ALTER TABLE public.turn_records OWNER TO audacity_user;

--
-- Name: turn_records_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.turn_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.turn_records_id_seq OWNER TO audacity_user;

--
-- Name: turn_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.turn_records_id_seq OWNED BY public.turn_records.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: audacity_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    display_name character varying(100) NOT NULL,
    token_symbol character varying(10),
    token_color character varying(20),
    is_active boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO audacity_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: audacity_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO audacity_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: audacity_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: card_instances id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.card_instances ALTER COLUMN id SET DEFAULT nextval('public.card_instances_id_seq'::regclass);


--
-- Name: contracts id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.contracts ALTER COLUMN id SET DEFAULT nextval('public.contracts_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: ledger_entries id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries ALTER COLUMN id SET DEFAULT nextval('public.ledger_entries_id_seq'::regclass);


--
-- Name: scheduled_events id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.scheduled_events ALTER COLUMN id SET DEFAULT nextval('public.scheduled_events_id_seq'::regclass);


--
-- Name: turn_records id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.turn_records ALTER COLUMN id SET DEFAULT nextval('public.turn_records_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: audacity_user
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: audacity_user
--

COPY public.alembic_version (version_num) FROM stdin;
001_initial
\.


--
-- Data for Name: card_instances; Type: TABLE DATA; Schema: public; Owner: audacity_user
--



--
-- Data for Name: cards; Type: TABLE DATA; Schema: public; Owner: audacity_user
--



--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: audacity_user
--

COPY public.contracts (id, game_id, contract_type, description, creditor_account_id, debtor_account_id, principal_amount, fixed_repayment_amount, total_repaid, created_at_opportunity, total_installments, installments_completed, status, metadata_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: audacity_user
--



--
-- Data for Name: ledger_entries; Type: TABLE DATA; Schema: public; Owner: audacity_user
--



--
-- Data for Name: scheduled_events; Type: TABLE DATA; Schema: public; Owner: audacity_user
--

COPY public.scheduled_events (id, contract_id, game_id, target_account_id, due_opportunity_number, priority_step, installment_number, event_type, status, amount_expected, amount_executed, metadata_json, executed_at, created_at) FROM stdin;
\.


--
-- Data for Name: turn_records; Type: TABLE DATA; Schema: public; Owner: audacity_user
--

COPY public.turn_records (id, game_id, team_account_id, turn_number, opportunity_number, dice_roll, square_number, square_name, card_code, was_turn_lost, action_summary, details_json, created_at) FROM stdin;
1	2	11	1	1	4	1	Pregunta	\N	0	Turno 1 - Contador Le├│n. Tirada de dado: 4. Casilla 1: Pregunta.	{"notes": null, "events_executed": []}	2026-09-14 01:42:58.957664
2	3	18	1	1	4	1	Pregunta	\N	0	Turno 1 - Contador Le├│n. Tirada de dado: 4. Casilla 1: Pregunta.	{"notes": null, "events_executed": []}	2026-09-14 01:45:01.077627
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: audacity_user
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.accounts_id_seq', 21, true);


--
-- Name: card_instances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.card_instances_id_seq', 90, true);


--
-- Name: contracts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.contracts_id_seq', 1, false);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.games_id_seq', 3, true);


--
-- Name: ledger_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.ledger_entries_id_seq', 1, true);


--
-- Name: scheduled_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.scheduled_events_id_seq', 1, false);


--
-- Name: turn_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.turn_records_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: audacity_user
--

SELECT pg_catalog.setval('public.users_id_seq', 16, true);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: card_instances card_instances_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.card_instances
    ADD CONSTRAINT card_instances_pkey PRIMARY KEY (id);


--
-- Name: cards cards_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_pkey PRIMARY KEY (code);


--
-- Name: contracts contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_pkey PRIMARY KEY (id);


--
-- Name: games games_code_key; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_code_key UNIQUE (code);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: ledger_entries ledger_entries_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: ledger_entries ledger_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_pkey PRIMARY KEY (id);


--
-- Name: scheduled_events scheduled_events_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.scheduled_events
    ADD CONSTRAINT scheduled_events_pkey PRIMARY KEY (id);


--
-- Name: turn_records turn_records_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.turn_records
    ADD CONSTRAINT turn_records_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ix_accounts_game_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_accounts_game_id ON public.accounts USING btree (game_id);


--
-- Name: ix_accounts_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_accounts_id ON public.accounts USING btree (id);


--
-- Name: ix_accounts_user_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_accounts_user_id ON public.accounts USING btree (user_id);


--
-- Name: ix_card_instances_card_code; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_card_instances_card_code ON public.card_instances USING btree (card_code);


--
-- Name: ix_card_instances_game_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_card_instances_game_id ON public.card_instances USING btree (game_id);


--
-- Name: ix_card_instances_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_card_instances_id ON public.card_instances USING btree (id);


--
-- Name: ix_card_instances_status; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_card_instances_status ON public.card_instances USING btree (status);


--
-- Name: ix_cards_deck_type; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_cards_deck_type ON public.cards USING btree (deck_type);


--
-- Name: ix_contracts_creditor_account_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_contracts_creditor_account_id ON public.contracts USING btree (creditor_account_id);


--
-- Name: ix_contracts_debtor_account_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_contracts_debtor_account_id ON public.contracts USING btree (debtor_account_id);


--
-- Name: ix_contracts_game_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_contracts_game_id ON public.contracts USING btree (game_id);


--
-- Name: ix_contracts_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_contracts_id ON public.contracts USING btree (id);


--
-- Name: ix_contracts_status; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_contracts_status ON public.contracts USING btree (status);


--
-- Name: ix_games_code; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE UNIQUE INDEX ix_games_code ON public.games USING btree (code);


--
-- Name: ix_games_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_games_id ON public.games USING btree (id);


--
-- Name: ix_ledger_entries_created_at; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_ledger_entries_created_at ON public.ledger_entries USING btree (created_at);


--
-- Name: ix_ledger_entries_game_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_ledger_entries_game_id ON public.ledger_entries USING btree (game_id);


--
-- Name: ix_ledger_entries_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_ledger_entries_id ON public.ledger_entries USING btree (id);


--
-- Name: ix_ledger_entries_transaction_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_ledger_entries_transaction_id ON public.ledger_entries USING btree (transaction_id);


--
-- Name: ix_scheduled_events_contract_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_scheduled_events_contract_id ON public.scheduled_events USING btree (contract_id);


--
-- Name: ix_scheduled_events_due_opportunity_number; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_scheduled_events_due_opportunity_number ON public.scheduled_events USING btree (due_opportunity_number);


--
-- Name: ix_scheduled_events_game_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_scheduled_events_game_id ON public.scheduled_events USING btree (game_id);


--
-- Name: ix_scheduled_events_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_scheduled_events_id ON public.scheduled_events USING btree (id);


--
-- Name: ix_scheduled_events_status; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_scheduled_events_status ON public.scheduled_events USING btree (status);


--
-- Name: ix_scheduled_events_target_account_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_scheduled_events_target_account_id ON public.scheduled_events USING btree (target_account_id);


--
-- Name: ix_turn_records_created_at; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_turn_records_created_at ON public.turn_records USING btree (created_at);


--
-- Name: ix_turn_records_game_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_turn_records_game_id ON public.turn_records USING btree (game_id);


--
-- Name: ix_turn_records_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_turn_records_id ON public.turn_records USING btree (id);


--
-- Name: ix_turn_records_team_account_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_turn_records_team_account_id ON public.turn_records USING btree (team_account_id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: audacity_user
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: accounts accounts_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: card_instances card_instances_assigned_to_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.card_instances
    ADD CONSTRAINT card_instances_assigned_to_account_id_fkey FOREIGN KEY (assigned_to_account_id) REFERENCES public.accounts(id) ON DELETE SET NULL;


--
-- Name: card_instances card_instances_card_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.card_instances
    ADD CONSTRAINT card_instances_card_code_fkey FOREIGN KEY (card_code) REFERENCES public.cards(code) ON DELETE RESTRICT;


--
-- Name: card_instances card_instances_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.card_instances
    ADD CONSTRAINT card_instances_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: contracts contracts_creditor_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_creditor_account_id_fkey FOREIGN KEY (creditor_account_id) REFERENCES public.accounts(id) ON DELETE RESTRICT;


--
-- Name: contracts contracts_debtor_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_debtor_account_id_fkey FOREIGN KEY (debtor_account_id) REFERENCES public.accounts(id) ON DELETE RESTRICT;


--
-- Name: contracts contracts_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: ledger_entries ledger_entries_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ledger_entries ledger_entries_approver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_approver_id_fkey FOREIGN KEY (approver_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ledger_entries ledger_entries_destination_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_destination_account_id_fkey FOREIGN KEY (destination_account_id) REFERENCES public.accounts(id) ON DELETE RESTRICT;


--
-- Name: ledger_entries ledger_entries_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: ledger_entries ledger_entries_reverted_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_reverted_by_id_fkey FOREIGN KEY (reverted_by_id) REFERENCES public.ledger_entries(id) ON DELETE SET NULL;


--
-- Name: ledger_entries ledger_entries_reverts_entry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_reverts_entry_id_fkey FOREIGN KEY (reverts_entry_id) REFERENCES public.ledger_entries(id) ON DELETE SET NULL;


--
-- Name: ledger_entries ledger_entries_source_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_source_account_id_fkey FOREIGN KEY (source_account_id) REFERENCES public.accounts(id) ON DELETE RESTRICT;


--
-- Name: scheduled_events scheduled_events_contract_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.scheduled_events
    ADD CONSTRAINT scheduled_events_contract_id_fkey FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE CASCADE;


--
-- Name: scheduled_events scheduled_events_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.scheduled_events
    ADD CONSTRAINT scheduled_events_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: scheduled_events scheduled_events_target_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.scheduled_events
    ADD CONSTRAINT scheduled_events_target_account_id_fkey FOREIGN KEY (target_account_id) REFERENCES public.accounts(id) ON DELETE CASCADE;


--
-- Name: turn_records turn_records_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.turn_records
    ADD CONSTRAINT turn_records_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: turn_records turn_records_team_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: audacity_user
--

ALTER TABLE ONLY public.turn_records
    ADD CONSTRAINT turn_records_team_account_id_fkey FOREIGN KEY (team_account_id) REFERENCES public.accounts(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict jQeAhXQSEv54OHr4bJsVAFiNPGocGHhgvcGgfgRyjo7uZUaK30aLjdINRtTSamH

